<div class="row">
 <div class="mx-auto">
  <div class = "about">
    <h1>About</h1>
    <br>
    <p>「まとめも」は、</br>
    映画、ドラマ、アニメ、小説、漫画	の管理、レビュー投稿、掲示板を</br>
    合体させたサイトです。</br>
    ・自分がすでに鑑賞した作品、気になっている作品をメモしておきたい時...</br>
    ・気になる作品の評価を知りたい時...</br>
    ・お気に入りの作品について誰かと語り合いたい時...</br>
    </br>
    そんな時に、</br>
    ぜひこのサイトをご活用ください！！</br>
    </p>
    <%= image_tag 'about.png',:size => '800x500'%>
  </div>
 </div>
</div>
